html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  --color-text-primary: #333;
  --color-text-secondary: #909090;
  --color-text-contrast: #fff;
  --color-main-100: #ff6464;
  --color-main-200: #ff8264;
  --color-main-300: #ffaa64;
  --color-main-400: #fff5a5;
  --color-main-500: #dfdfdf;
  /*  */
  font-size: 24px;
  color: var(--color-text-primary);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
