.contact-page-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  background: url("../assets/pat.png") fixed center;
}

.contact-details {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 1rem;
}

.contact-details > * {
  flex: 1 1 0;
  width: 100%;
}

.page-pic {
  flex: 1 1 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pic-wrapper {
  width: 100%;
  max-width: 50vw;
  height: 100%;
  max-height: 50vw;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid var(--color-main-100);
}

.pic-wrapper img {
  width: 100%;
  height: 100%;
}

.page-name {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--color-main-100);
  padding: 1rem 0 0 0;
}

.page-phone {
  color: var(--color-text-primary);
  display: flex;
  flex-direction: column;
}

.details-row {
  width: 100%;
  display: flex;
  flex-flow: row-reverse nowrap;
  flex: 1 1 50%;
}

.details-row > * {
  flex: 1;
}

.details-row span {
  text-align: right;
}

.page-address,
.page-mail {
  display: flex;
  align-items: center;
  justify-content: center;
}

.back-button-container {
  width: 100%;
  height: 4rem;
  background-color: var(--color-main-100);
}

.back-button-container a {
  width: 100%;
  height: 100%;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-text-contrast);
  text-decoration: none;
  font-weight: bold;
}
